<div class="d-flex justify-content-between align-items-center">
  <button
    class="btn btn-primary me-3"
    *ngIf="accessChecker.isGranted('view', 'auto') | async"
  >
    Button Disponible pour les viewers
  </button>
  <button
    class="btn btn-success me-3"
    *ngIf="accessChecker.isGranted('create', 'auto') | async"
  >
    Button Disponible pour les moderateurs
  </button>
  <button
    class="btn btn-danger me-3"
    *ngIf="accessChecker.isGranted('remove', 'auto') | async"
  >
    Button Disponible pour les admins
  </button>
</div>
