<nb-card>
  <nb-card-header>
    <div class="container-fluid">
      <div class="d-flex justify-content-between bd-highlight">
        <span style="padding: 10px">Gestion des privilèges</span>
        <button
          class="btn btn-primary"
          (click)="addItem(confirmed, username.value)"
        >
          Ajout du Role
        </button>
        <!-- <nb-dialog-backdrop-click></nb-dialog-backdrop-click> -->
      </div>
    </div></nb-card-header
  >
  <nb-card-body>
    <!-- <table class="table table-hover table-bordered mt-3">
      <thead>
        <tr>
          <th scope="col">Matricule</th>
          <th scope="col">Nom d'utilisateur</th>
          <th scope="col">Role</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usersData">
          <td>{{ user.matricule }}</td>
          <td>{{ user.nomDutilisateur }}</td>
          <td>{{ user.role }}</td>

          <td>
            <nb-icon
              [options]="{ animation: { type: 'pulse' } }"
              (click)="openWithoutBackdropClick()"
              icon="eye"
              style="
                cursor: pointer;
                color: rgb(151, 151, 153);
                margin-right: 10px;
              "
            ></nb-icon>
            <nb-icon
              [options]="{ animation: { type: 'pulse' } }"
              (click)="openWithoutBackdropClick()"
              icon="edit"
              style="
                cursor: pointer;
                color: rgb(4, 28, 136);
                margin-right: 10px;
              "
            ></nb-icon>

            <nb-icon
              [options]="{ animation: { type: 'pulse' } }"
              (click)="deleteUser(user.id)"
              icon="trash"
              style="cursor: pointer; color: red; margin-right: 10px"
            ></nb-icon>
            <a href="" style="text-decoration: none"
              ><i class="nb-search"></i
            ></a>
            <a href="" style="text-decoration: none"
              ><i class="nb-trash"></i
            ></a>
            <a href="" style="text-decoration: none"><i class="nb-edit"></i></a>
          </td>
        </tr>
      </tbody>
    </table> -->

    <label for="" class="mb-3"> <strong>Intitulé du role</strong> </label>
    <input
      type="text"
      class="form-control mb-3"
      id="username"
      name="username"
      #username
    />
    <div style="text-align: center">
      <app-custom-listbox
        (newItemEvent)="(confirmed)"
        #child
        [role]="username.value"
        key="id"
        display="name"
        [source]="source"
        [(destination)]="target"
        height="350px"
        (selectChange)="showMessage($event)"
        sourceName="Available Stations"
        targetName="Selected Stations"
        [sort]="true"
        [compare]="compare"
      ></app-custom-listbox>
    </div>
    <div class="d-flex justify-content-between bd-highlight">
      <pre>{{ source | json }}</pre>
      <pre>{{ confirmed | json }}</pre>
      <pre style="background-color: cadetblue">
        <h1>HELLO</h1>
        <ul>
          <li >{{data | json}}</li>
        </ul>


        <!-- {{ selectChange  }} -->
      </pre>
    </div>
    <!-- <pre>{{ message | json }}</pre>
    <pre>{{ target | json }}</pre>
    <pre>{{ source | json }}</pre> -->
  </nb-card-body>
</nb-card>

<!-- <modal #modal [modalConfig]="modalConfig">
  <nb-card class="dialog-card">
    <nb-card-header>
      <div class="d-flex flex-row-reverse bd-highlight">
        <button
          type="button"
          id="close"
          class="btn-close"
          aria-label="Close"
        ></button>
      </div>

      <div class="d-flex justify-content-center mt-5">
        <hr />
        <strong><h4>Ajout d'un utilisateurr</h4></strong>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div class="container px-5 my-5">
        <form id="contactForm" [formGroup]="formValue">
          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="nomDutilisateur"
              type="text"
              placeholder="Nom d&#x27;utilisateur"
              data-sb-validations="required"
              formControlName="nomDutilisateur"
            />
            <label for="nomDutilisateur">Nom d&#x27;utilisateur</label>
            <div
              class="invalid-feedback"
              data-sb-feedback="nomDutilisateur:required"
            >
              Nom d&#x27;utilisateur is required.
            </div>
          </div>
          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="matricule"
              type="text"
              placeholder="Matricule"
              data-sb-validations="required"
              formControlName="matricule"
            />
            <label for="matricule">Matricule</label>
            <div class="invalid-feedback" data-sb-feedback="matricule:required">
              Matricule is required.
            </div>
          </div>
          <div class="form-floating mb-3">
            <select
              formControlName="role"
              class="form-select"
              id="role"
              aria-label="Role"
            >
              <option value="Utilisateur">Utilisateur</option>
              <option value="Moderateur">Moderateur</option>
              <option value="Administrateur">Administrateur</option>
            </select>
            <label for="role">Role</label>
          </div>
          <div class="d-grid">
            <button
              class="btn btn-primary btn-lg"
              id="submitButton"
              type="submit"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
      <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </nb-card-body>
    <nb-card-footer> </nb-card-footer>
  </nb-card>
</modal> -->
