<nb-card>
  <nb-tabset fullWidth>
    <nb-tab tabTitle="Ajouter un groupe">
      <nb-card-body>
        <label for="" class="mb-3">
          <strong>Intitulé du groupe</strong>
        </label>
        <input
          type="text"
          class="form-control mb-3"
          id="username"
          name="username"
          #username
        />

        <div style="text-align: center">
          <app-managing-roles
            (newItemEvent)="(confirmed)"
            #child
            [role]="username.value"
            key="id"
            display="name"
            [source]="source"
            [(destination)]="target"
            height="350px"
            (selectChange)="showMessage($event)"
            sourceName="Available Stations"
            targetName="Selected Stations"
            [sort]="true"
            [compare]="compare"
          ></app-managing-roles>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <div class="container-fluid">
          <div class="d-flex justify-content-between bd-highlight">
            <span style="padding: 10px"></span>
            <button
              class="btn btn-primary"
              (click)="addItem(confirmed, username.value)"
            >
              Ajout du Groupe
            </button>
            <!-- <nb-dialog-backdrop-click></nb-dialog-backdrop-click> -->
          </div>
        </div>
      </nb-card-footer>
    </nb-tab>
    <nb-tab tabTitle="Modifier un groupe"> Modifier </nb-tab>
    <nb-tab tabTitle="Assigner un groupe"> Assigner </nb-tab>
  </nb-tabset>
</nb-card>
