<nb-card>
  <nb-tabset fullWidth>
    <nb-tab tabTitle="Ajouter un role">
      <nb-card-body>
        <label for="" class="mb-3">
          <strong>Intitulé du role</strong>
        </label>
        <input
          type="text"
          class="form-control mb-3"
          id="roleName"
          name="roleName"
          [(ngModel)]="roleName"
        />

        <div style="text-align: center">
          <p></p>
          <dual-list
            [sort]="keepSorted"
            [source]="source"
            [key]="key"
            [display]="display"
            [filter]="filter"
            [(destination)]="confirmed"
            height="500px"
            [format]="format"
            [disabled]="disabled"
          ></dual-list>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <div class="d-flex justify-content-between bd-highlight">
          <span style="padding: 10px"></span>
          <button (click)="addingRole()" class="btn btn-primary">
            Ajout du Role
          </button>
        </div>
      </nb-card-footer>
    </nb-tab>
    <nb-tab tabTitle="Modifier un role">
      <div *ngIf="selected == undefined">
        <nb-card-header> Roles </nb-card-header>
        <nb-list style="margin-top: 20px">
          <nb-list-item (click)="console(role)" *ngFor="let role of roles">
            {{ role.name }}
          </nb-list-item>
        </nb-list>
      </div>
      <div *ngIf="selected !== undefined">
        <button class="btn btn-secondary" (click)="refresh()">Back</button>
        <div style="text-align: center">
          <h1>{{ selected.name }}</h1>
          <dual-list
            [sort]="keepSorted"
            [source]="source"
            [key]="key"
            [display]="display"
            [filter]="filter"
            [(destination)]="privilegesAssignes"
            height="500px"
            [format]="format"
            [disabled]="disabled"
          ></dual-list>
          <button
            (click)="updateRole(privilegesAssignes, selected)"
            class="btn btn-primary"
          >
            Update Role
          </button>
        </div>
      </div>
    </nb-tab>
    <nb-tab tabTitle="Assigner un role"> Assigner </nb-tab>
  </nb-tabset>
</nb-card>
