<nb-card>
  <nb-tabset fullWidth>
    <nb-tab tabTitle="Ajouter un groupe">
      <nb-card-body>
        <label for="" class="mb-3">
          <strong>Intitulé du groupe</strong>
        </label>
        <input
          type="text"
          class="form-control mb-3"
          id="roleName"
          name="roleName"
          [(ngModel)]="roleName"
        />

        <div style="text-align: center">
          <p></p>
          <dual-list
            [sort]="keepSorted"
            [source]="source"
            [key]="key"
            [display]="display"
            [filter]="filter"
            [(destination)]="confirmed"
            height="500px"
            [format]="format"
            [disabled]="disabled"
          ></dual-list>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <div class="d-flex justify-content-between bd-highlight">
          <span style="padding: 10px"></span>
          <button (click)="addingRole()" class="btn btn-primary">
            Ajout du Groupe
          </button>
        </div>
      </nb-card-footer>
    </nb-tab>
    <nb-tab tabTitle="Modifier un groupe"> Modifier </nb-tab>
    <nb-tab tabTitle="Assigner un groupe"> Assigner </nb-tab>
  </nb-tabset>
</nb-card>
