.nb-edit {
  font-size: 2rem;
  color: gray;
}
.nb-edit:hover {
  color: blue;
}
.nb-trash {
  font-size: 2rem;
  color: gray;
}
.nb-trash:hover {
  color: red;
}

.nb-search {
  font-size: 2rem;
  color: gray;
}
.nb-search:hover {
  color: black;
}
