<nb-layout>
  <nb-layout-header fixed>
    <nb-icon
      (click)="toggleSidebar()"
      class="sidebar-toggle"
      icon="menu-2-outline"
    ></nb-icon>
    <h2
      style="
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
          Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
          Segoe UI Symbol;
      "
    >
      &nbsp; &nbsp; Gestion Park Auto
    </h2>
    <a routerLink="/logout" class="d-flex">Logout</a>
  </nb-layout-header>

  <nb-sidebar class="menu-sidebar" responsive start>
    <nb-menu [items]="items" autoCollapse="true"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed> This is the footer </nb-layout-footer>
</nb-layout>
