.form-group {
  margin-bottom: 16px;
}
.checkbox {
  margin-top: inherit;
}
p {
  font-family: Lato;
}

nb-card-header {
  border-bottom: none !important;
}

nb-list-item:hover {
  background-color: lightgray;
  cursor: pointer;
}
